<div class="p-1 py-5 min-h-screen">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>

    <div class="mb-2">
        <p-panel header="Centro costo" styleClass="custom-panel-header shadow-xl rounded-xl mb-3">
            <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
            </p-panel>
            
            <div class="shadow-xl rounded-full surface-card px-4 py-4">
            <div class="aligned-content-container">
                <div class="mb-2 centrocosto-toolbar-row">
                    <div class="centrocosto-toolbar">
                        <div class="centrocosto-toolbar-left">
                            <button
                                pButton
                                type="button"
                                icon="pi pi-plus"
                                label="Nuevo"
                                class="p-button-info centrocosto-btn"
                                (click)="agregarCentroCosto()"
                                pTooltip="Nuevo centro de costo"
                                tooltipPosition="bottom"
                                [disabled]="!!editingCentroCosto">
                            </button>
                        </div>

                        <div class="centrocosto-toolbar-right">
                            <button
                                *ngIf="editingRowIndex === null"
                                pButton
                                type="button"
                                icon="pi pi-pencil"
                                class="p-button-info centrocosto-icon-btn"
                                pTooltip="Editar"
                                tooltipPosition="bottom"
                                [disabled]="!selectedCentroCosto || !!editingCentroCosto"
                                (click)="editarCentroCostoSeleccionado()">
                            </button>

                            <button
                                *ngIf="editingRowIndex === null"
                                pButton
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-danger centrocosto-icon-btn"
                                pTooltip="Eliminar"
                                tooltipPosition="bottom"
                                [disabled]="!selectedCentroCosto || !!editingCentroCosto"
                                (click)="eliminarCentroCostoSeleccionado()">
                            </button>

                            <button
                                *ngIf="editingRowIndex !== null"
                                pButton
                                type="button"
                                icon="pi pi-check"
                                class="p-button-success centrocosto-icon-btn"
                                pTooltip="Guardar"
                                tooltipPosition="bottom"
                                (click)="guardarEdicionSeleccionada()">
                            </button>

                            <button
                                *ngIf="editingRowIndex !== null"
                                pButton
                                type="button"
                                icon="pi pi-times"
                                class="p-button-danger centrocosto-icon-btn"
                                pTooltip="Cancelar"
                                tooltipPosition="bottom"
                                (click)="cancelarEdicionSeleccionada()">
                            </button>
                        </div>
                    </div>
                </div>


                <div class="centrocosto-table-wrapper">
                    <p-table [value]="centrosCosto" [rows]="rowsPerPage" [paginator]="true" responsiveLayout="scroll"
                        [rowsPerPageOptions]="[5, 10, 20, 50]"
                        selectionMode="single" [(selection)]="selectedCentroCosto" dataKey="pla57codigo"styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines centrocosto-table">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: auto; text-align: center;">Código</th>
                                <th style="width: auto; text-align: center;">Descripción</th>
                                <th style="width: auto; text-align: center;">Activo</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-centroCosto>
                            <tr [pSelectableRow]="centroCosto">
                                <td class="text-center">
                                    <div
                                        *ngIf="editingCentroCosto?.pla57codigo === centroCosto.pla57codigo; else displayCodigo">
                                        <input pInputText type="text" [(ngModel)]="editingCentroCosto!.pla57codigo"
                                            placeholder="Código" class="w-full text-sm text-center font-bold"
                                            [disabled]="!isAddMode" style="text-transform: uppercase;" />
                                    </div>
                                    <ng-template #displayCodigo>
                                        {{ centroCosto.pla57codigo.startsWith('TEMP-') ? '---' : centroCosto.pla57codigo
                                        }}
                                    </ng-template>
                                </td>

                                <td class="text-center">
                                    <div
                                        *ngIf="editingCentroCosto?.pla57codigo === centroCosto.pla57codigo; else displayDescripcion">
                                        <input pInputText type="text" [(ngModel)]="editingCentroCosto!.pla57descripcion"
                                            class="w-full text-sm text-left" />
                                    </div>
                                    <ng-template #displayDescripcion>
                                        {{ centroCosto.pla57descripcion }}
                                    </ng-template>
                                </td>

                                <td class="text-center">
                                    <div
                                        *ngIf="editingCentroCosto?.pla57codigo === centroCosto.pla57codigo; else displayActivoVisual">
                                        <p-checkbox [binary]="true"
                                            [(ngModel)]="editingCentroCosto!.pla57flagactivo"></p-checkbox>
                                    </div>

                                    <ng-template #displayActivoVisual>
                                        <p-checkbox [binary]="true" [ngModel]="centroCosto.pla57flagactivo"
                                            [disabled]="true" [readonly]="true">
                                        </p-checkbox>
                                    </ng-template>
                                </td>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="4" style="text-align: center;">
                                    No se encontraron cargos.
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            </div>
    </div>
</div>