<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-panel header="Regimenes Pensionarios" styleClass="shadow-xl rounded-xl mb-3">
  <div class="regimen-toolbar">
  <div class="regimen-toolbar-left">
    <button
      type="button"
      pButton
      icon="pi pi-plus"
      label="Nuevo Régimen"
      (click)="showAddRow()"
      [disabled]="isEditingAnyRow || esModoVisualizacion"
      class="p-button-sm regimen-btn">
    </button>
  </div>

  <div class="regimen-toolbar-right">
    <button
      *ngIf="editingRowIndex === null"
      pButton
      type="button"
      icon="pi pi-pencil"
      class="p-button-sm regimen-icon-btn"
      pTooltip="Editar"
      tooltipPosition="bottom"
      [disabled]="!regimenSeleccionado || isEditingAnyRow || esModoVisualizacion || isNew"
      (click)="editarRegimenSeleccionado()">
    </button>

    <button
      *ngIf="editingRowIndex === null"
      pButton
      type="button"
      icon="pi pi-trash"
      class="p-button-sm regimen-icon-btn p-button-danger"
      pTooltip="Eliminar"
      tooltipPosition="bottom"
      [disabled]="!regimenSeleccionado || isEditingAnyRow || esModoVisualizacion || isNew"
      (click)="eliminarRegimenSeleccionado()">
    </button>

    <button
      *ngIf="editingRowIndex !== null"
      pButton
      type="button"
      icon="pi pi-check"
      class="p-button-sm regimen-icon-btn p-button-success"
      pTooltip="Guardar"
      tooltipPosition="bottom"
      (click)="guardarEdicionSeleccionada()">
    </button>

    <button
      *ngIf="editingRowIndex !== null"
      pButton
      type="button"
      icon="pi pi-times"
      class="p-button-sm regimen-icon-btn p-button-danger"
      pTooltip="Cancelar"
      tooltipPosition="bottom"
      (click)="cancelarEdicionSeleccionada()">
    </button>
  </div>
</div>

  <p-table 
  [value]="regimenesPensionariosLista" 
  dataKey="pla31regpensionariocod" 
  selectionMode="single"
  [(selection)]="regimenSeleccionado"
  styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%;">Régimen</th>
        <th style="width: 20%;">Desc Régimen</th>
        <th style="width: 20%;">CUPSS</th>
        <th style="width: 15%;">Fecha Inicio</th>
        <th style="width: 15%;">Fecha Fin</th>
        <th style="width: 10%;">Comisión Mixta</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-regimen let-ri="rowIndex">
  <tr [pSelectableRow]="regimen">

    <td>
      {{ regimen.pla31regpensionariocod }}
    </td>

    <td>
      {{ regimen.desregpensionario }}
    </td>

    <td>
      <ng-container *ngIf="editingRowIndex === ri; else cupssVista">
        <input
          type="text"
          pInputText
          [(ngModel)]="regimenesPensionariosLista[ri].pla31regpensionariocupss"
          class="w-full" />
      </ng-container>

      <ng-template #cupssVista>
        {{ regimen.pla31regpensionariocupss }}
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingRowIndex === ri; else fechaIniVista">
        <p-calendar
          [(ngModel)]="regimenesPensionariosLista[ri].pla31fechaini"
          dateFormat="dd/mm/yy"
          class="w-full"
          [appendTo]="'body'">
        </p-calendar>
      </ng-container>

      <ng-template #fechaIniVista>
        {{ regimen.pla31fechaini | date:'dd/MM/yyyy' }}
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingRowIndex === ri; else fechaFinVista">
        <p-calendar
          [(ngModel)]="regimenesPensionariosLista[ri].pla31fechafin"
          dateFormat="dd/mm/yy"
          class="w-full"
          [appendTo]="'body'">
        </p-calendar>
      </ng-container>

      <ng-template #fechaFinVista>
        {{ regimen.pla31fechafin | date:'dd/MM/yyyy' }}
      </ng-template>
    </td>

    <td style="text-align: center;">
      <p-checkbox
        [(ngModel)]="regimenesPensionariosLista[ri].pla31flagcomisionmixta"
        [binary]="true"
        [trueValue]="'1'"
        [falseValue]="'0'"
        [disabled]="editingRowIndex !== ri || esModoVisualizacion">
      </p-checkbox>
    </td>

  </tr>
</ng-template>

    <ng-template pTemplate="footer">
      <tr *ngIf="isEditing">
        <td colspan="6">
          <form [formGroup]="nuevoRegimenForm" class="grid p-fluid">

            <div class="col-1" style="width: 10%;">
              <span class="w-full">
                <p-button
                  label="{{ nuevoRegimenForm.get('pla31regpensionariocod')?.value || 'Buscar' }}"
                  icon="pi pi-search"
                  class="p-button-sm w-full"
                  (click)="abrirModalTiposRegimenPensionario()"
                ></p-button>
              </span>
            </div>

            <div class="col-1" style="width: 20%;">
              <span class="w-full">
                <input
                  pInputText
                  type="text"
                  formControlName="desregpensionario"
                  class="w-full"
                  placeholder="Descripción"
                  readonly
                />
              </span>
            </div>

            <div class="col-1" style="width: 20%;">
              <span class="w-full">
                <input
                  pInputText
                  type="text"
                  formControlName="pla31regpensionariocupss"
                  class="w-full"
                  placeholder="Ingrese CUPSS"
                />
              </span>
            </div>

            <div class="col-1" style="width: 15%;">
              <span class="w-full">
                <p-calendar
                formControlName="pla31fechaini"
                dateFormat="dd/mm/yy"
                class="w-full"
                [appendTo]="'body'"
                placeholder="Fecha de Inicio"></p-calendar>
              </span>
            </div>

            <div class="col-1" style="width: 15%;">
              <span class="w-full">
                <p-calendar
                formControlName="pla31fechafin"
                dateFormat="dd/mm/yy"
                class="w-full"
                [appendTo]="'body'"
                placeholder="Fecha de Fin"></p-calendar>
              </span>
            </div>

            <div class="col-1" style="width: 10%; text-align: center;">
              <span class="w-full">
                <p-checkbox
                formControlName="pla31flagcomisionmixta"
                [binary]="true"
                [trueValue]="'1'"
                [falseValue]="'0'"
                ></p-checkbox>
              </span>
            </div>

            <!-- Botones de acción -->
            <div class="col-1" style="width: 10%; text-align: center;">
              <div class="flex gap-2 justify-content-center">
                <p-button icon="pi pi-check"
                styleClass="p-button-success p-button-sm" [text]="true"
                (onClick)="onSave()" pTooltip="Guardar"></p-button>
                <p-button icon="pi pi-times"
                styleClass="p-button-danger p-button-sm" [text]="true"
                (onClick)="onCancel()" pTooltip="Cancelar"></p-button>
              </div>
            </div>

          </form>
        </td>

      </tr>
    </ng-template>

  </p-table>
</p-panel>

<p-dialog [(visible)]="mostrarModalRegimenPensionario" [header]="'Regimen Pensionario'" [modal]="true"
[style]="{width: '1000px'}" [draggable]="false" [closable]="false" [resizable]="false">
  <p-table [value]="tiposRegimenesPensionarios" [scrollable]="true" scrollHeight="350px" selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 15%;">Código</th>
        <th style="width: 50%;">Descripción</th>
        <th style="width: 20%;">Clase</th>
        <th style="width: 15%;">AFP Cod</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-regimen>
      <tr [pSelectableRow]="regimen" (click)="seleccionarTipoRegimenPensionario(regimen)" style="cursor: pointer;">
        <td>{{ regimen.codigo }}</td>
        <td>{{ regimen.descripcion }}</td>
        <td>{{ regimen.clase }}</td>
        <td>{{ regimen.afpcod }}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary"
        (click)="mostrarModalRegimenPensionario = false"></button>
  </ng-template>
</p-dialog>
