<p-toast></p-toast>

<p-panel header="Restaurar BD" styleClass="shadow-xl rounded-xl mb-3">
  <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
</p-panel>

<div class="surface-card shadow-2 border-round-xl restore-card mt-3">
  <div class="grid gap-3">

    <div class="col-12 lg:col-6">
      <label class="restore-label">Seleccionar Backup</label>

      <div class="p-inputgroup w-full">
        <input
          pInputText
          type="text"
          [(ngModel)]="backupNombre"
          placeholder="Selecciona tu backup"
          readonly
          class="w-full restore-input"
        />

        <button
          pButton
          type="button"
          icon="pi pi-ellipsis-h"
          class="p-button-outlined restore-route-btn"
          (click)="abrirSelectorBackup(fileInput)"
          aria-label="Seleccionar backup"
        ></button>
      </div>

      <input
        #fileInput
        type="file"
        accept=".bak"
        style="display:none"
        (change)="onBackupFileChange($event)"
      />
    </div>

  </div>

  <div class="restore-actions">
    <button
      pButton
      type="button"
      label="Limpiar"
      class="p-button-outlined restore-action-btn"
      (click)="limpiar()"
      icon="pi pi-refresh">
    </button>

    <button
      pButton
      type="button"
      label="Restaurar BD"
      class="restore-action-btn"
      (click)="restaurarBdMock()"
      icon="pi pi-save">
    </button>
  </div>
</div>