<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="trabajador-page">

  <p-panel header="Trabajador" styleClass="trabajador-header-panel">
    <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
  </p-panel>

  <div class="trabajador-content-panel">
    <div class="shadow-xl rounded-xl surface-card trabajador-container">

      <div class="trabajador-toolbar">
        <div class="trabajador-toolbar-left">
          <button
            type="button"
            pButton
            icon="pi pi-plus"
            label="Nuevo Trabajador"
            (click)="nuevoTrabajador()"
            class="p-button-sm trabajador-btn">
          </button>

          <button
            pButton
            pRipple
            type="button"
            label="Importar"
            icon="pi pi-upload"
            class="p-button-sm trabajador-btn"
            (click)="importDialogVisible = true">
          </button>
        </div>

        <div class="trabajador-toolbar-right">
          <button
            pButton
            type="button"
            icon="pi pi-eye"
            class="p-button-sm trabajador-icon-btn"
            pTooltip="Ver detalle"
            tooltipPosition="bottom"
            [disabled]="!trabajadorSeleccionado"
            (click)="verTrabajadorSeleccionado()">
          </button>

          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-sm trabajador-icon-btn"
            pTooltip="Editar"
            tooltipPosition="bottom"
            [disabled]="!trabajadorSeleccionado"
            (click)="editarTrabajadorSeleccionado()">
          </button>

          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-sm trabajador-icon-btn p-button-danger"
            pTooltip="Eliminar"
            tooltipPosition="bottom"
            [disabled]="!trabajadorSeleccionado"
            (click)="eliminarTrabajadorSeleccionado()">
          </button>
        </div>
      </div>

      <p-table
      [value]="trabajadorList"
      dataKey="pla01empleadocod"
      [paginator]="true"
      [rows]="rowsPerPage"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} trabajadores"
      [tableStyle]="{ 'width': '1366px' }"
      styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
      class="table-trabajador"
      selectionMode="single"
      [(selection)]="trabajadorSeleccionado"
      >
        <!-- Cabecera-->
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center; width: 10%;">Código</th>
            <th style="text-align: center; width: 10%;">Doc. Identidad</th>
            <th style="text-align: center; width: 15%;">Apellidos y Nombres</th>
            <th style="text-align: center; width: 15%;">Dirección</th>
            <th style="text-align: center; width: 10%;">Fec. Nac.</th>
            <th style="text-align: center; width: 10%;">Teléfono</th>
            <th style="text-align: center; width: 10%;">Fec. Ingreso</th>
            <th style="text-align: center; width: 10%;">Centro costo</th>
          </tr>
        </ng-template>
        <!-- Cuerpo -->
        <ng-template pTemplate="body" let-trabajador>
          <tr [pSelectableRow]="trabajador">
            <td>{{trabajador.pla01empleadocod}}</td>
            <td>{{trabajador.pla01docuidentidadnro}}</td>
            <td>{{trabajador.apellidosynombres}}</td>
            <td>{{trabajador.pla01direccion}}</td>
            <td>{{trabajador.pla01fechanacimiento | date: 'dd/MM/yyyy'}}</td>
            <td>{{trabajador.pla01telefono}}</td>
            <td>{{trabajador.pla01fechaingreso | date: 'dd/MM/yyyy'}}</td>
            <td>{{trabajador.pla01centrocosto}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>

<p-dialog
  header="Importar Trabajador (TXT)"
  [(visible)]="importDialogVisible"
  [modal]="true"
  [style]="{ width: '90vw' }"
  [maximizable]="true"
  [draggable]="false"
  [resizable]="true"
  styleClass="trabajador-import-dialog">

  <div class="flex align-items-center gap-2 mb-3">
    <input
    #fileInput
    type="file"
    accept=".txt"
    style="display:none"
    (change)="onFileSelected($event)"/>
    
    <button
    pButton
    type="button"
    icon="pi pi-file"
    label="Seleccionar TXT"
    class="p-button-info"
    (click)="fileInput.click()"
    ></button>

    <button 
    pButton 
    type="button" 
    label="Procesar" 
    icon="pi pi-cog"
    class="p-button-success" 
    (click)="mockProcesar()" 
    [disabled]="!selectedFile">
    </button>

    <button
    pButton
    type="button"
    label="Guardar"
    icon="pi pi-save"
    class="p-button-secondary"
    (click)="guardarImportacionEnLista()"
    [disabled]="importTrabajadores.length === 0">
   </button>
  </div>

  <p-panel header="Trabajadores (Cabecera)" styleClass="shadow-sm rounded-xl mt-3">
    <p-table [value]="importTrabajadores" responsiveLayout="scroll"
      styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Fila</th><th>Doc Tipo</th><th>Doc Número</th><th>Ape. Paterno</th>
          <th>Ape. Materno</th><th>Nombres</th><th>Fec. Nac</th><th>Sexo</th>
          <th>Régimen</th><th>Fec. Ingreso</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-r>
        <tr>
          <td>{{ r.fila }}</td><td>{{ r.docTipo }}</td><td>{{ r.docNumero }}</td>
          <td>{{ r.apePaterno }}</td><td>{{ r.apeMaterno }}</td><td>{{ r.nombres }}</td>
          <td>{{ r.fechaNac }}</td><td>{{ r.sexo }}</td><td>{{ r.regimenLaboral }}</td>
          <td>{{ r.fechaIngreso }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr><td colspan="10" class="text-center">Sin datos</td></tr>
      </ng-template>
    </p-table>
  </p-panel>

  <p-panel header="Remuneraciones (Detalle)" styleClass="shadow-sm rounded-xl mt-3">
    <p-table [value]="importRemuneraciones" responsiveLayout="scroll"
      styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Fila</th><th>Doc Tipo</th><th>Doc Número</th><th>Concepto</th><th>Importe</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-d>
        <tr>
          <td>{{ d.fila }}</td><td>{{ d.docTipo }}</td><td>{{ d.docNumero }}</td>
          <td>{{ d.concepto }}</td><td>{{ d.importe }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr><td colspan="5" class="text-center">Sin datos</td></tr>
      </ng-template>
    </p-table>
  </p-panel>

  <p-panel header="Validación / Errores" styleClass="shadow-sm rounded-xl mt-3">
    <p-table [value]="importErrores" responsiveLayout="scroll"
      styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr><th>Fila</th><th>Mensaje</th></tr>
      </ng-template>
      <ng-template pTemplate="body" let-e>
        <tr><td>{{ e.fila }}</td><td>{{ e.mensaje }}</td></tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr><td colspan="2" class="text-center">Sin errores</td></tr>
      </ng-template>
    </p-table>
  </p-panel>

</p-dialog>