<div class="planilla-tipo-container">
  <!-- Toast para notificaciones -->
  <p-toast></p-toast>

  <!-- Confirm Dialog -->
  <p-confirmDialog></p-confirmDialog>


  <p-panel header="Planilla tipo" styleClass="shadow-xl rounded-xl mb-3">
  <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
</p-panel>

<p-panel styleClass="shadow-xl rounded-xl py-2 header-large">
  <div class="content-wrapper planilla-tipo-content">
      <div class="planilla-tipo-toolbar-row">
        <div class="planilla-tipo-toolbar">
        <div class="planilla-tipo-toolbar-left">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-info planilla-tipo-btn"
            (click)="agregarNuevo()"
            label="Nueva Planilla"
            pTooltip="Agregar nueva planilla tipo"
            tooltipPosition="bottom"
            [disabled]="hayPlanillaEditando">
          </button>
        </div>

        <div class="planilla-tipo-toolbar-right">
          <button
            *ngIf="editingRowIndex === null"
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-info planilla-tipo-icon-btn"
            (click)="editarSeleccionado()"
            [disabled]="!selectedPlanilla || hayPlanillaEditando"
            pTooltip="Editar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex === null"
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-danger planilla-tipo-icon-btn"
            (click)="eliminarSeleccionado()"
            [disabled]="!selectedPlanilla || hayPlanillaEditando"
            pTooltip="Eliminar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex !== null"
            pButton
            type="button"
            icon="pi pi-check"
            class="p-button-success planilla-tipo-icon-btn"
            (click)="guardarSeleccionado()"
            pTooltip="Guardar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex !== null"
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-danger planilla-tipo-icon-btn"
            (click)="cancelarSeleccionado()"
            pTooltip="Cancelar"
            tooltipPosition="bottom">
          </button>
        </div>
      </div>
      </div>

    <p-table
      [value]="planillasTipo"
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedPlanilla"
      dataKey="codigo"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} planillas"
      [globalFilterFields]="['codigo', 'descripcion']"
      [tableStyle]="{ 'min-width': '100%' }"
      styleClass="planilla-tipo-table p-datatable-sm p-datatable-striped p-datatable-gridlines">

      <!-- Columnas -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 120px">Codigo</th>
          <th>Descripcion</th>
        </tr>
      </ng-template>

      <!-- Filas -->
      <ng-template pTemplate="body" let-planilla let-rowIndex="rowIndex">
        <tr [pSelectableRow]="planilla">
          <!-- Código -->
          <td>
            <input
              *ngIf="planilla.isEditing"
              type="text"
              pInputText
              [(ngModel)]="planilla.codigo"
              [disabled]="!planilla.isNew"
              class="table-input"
              maxlength="10" />
            <span *ngIf="!planilla.isEditing">{{ planilla.codigo }}</span>
          </td>

          <!-- Descripción -->
          <td>
            <input
              *ngIf="planilla.isEditing"
              type="text"
              pInputText
              [(ngModel)]="planilla.descripcion"
              class="table-input"
              maxlength="100" />
            <span *ngIf="!planilla.isEditing">{{ planilla.descripcion }}</span>
          </td>


        </tr>
      </ng-template>

      <!-- Empty message -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="2" class="text-center empty-message">
            <i class="pi pi-info-circle"></i>
            <p>No se encontraron planillas tipo</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
</p-panel>
</div>
