<div class="planilla-grupo-container">
  <!-- Toast para notificaciones -->
  <p-toast></p-toast>

  <!-- Confirm Dialog -->
  <p-confirmDialog></p-confirmDialog>

  <p-panel header="Planilla grupo" styleClass="shadow-xl rounded-xl mb-3">
  <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
</p-panel>

<p-panel styleClass="shadow-xl rounded-xl py-2 header-large">
  <div class="content-wrapper planilla-grupo-content">
    <div class="planilla-grupo-toolbar-row">
      <div class="planilla-grupo-toolbar">
        <div class="planilla-grupo-toolbar-left">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="p-button-info planilla-grupo-btn"
            (click)="agregarNuevo()"
            label="Nueva Planilla"
            pTooltip="Agregar nueva planilla grupo"
            tooltipPosition="bottom"
            [disabled]="hayPlanillaGrupoEditando">
          </button>
        </div>

        <div class="planilla-grupo-toolbar-right">
          <button
            *ngIf="editingRowIndex === null"
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-info planilla-grupo-icon-btn"
            (click)="editarSeleccionado()"
            [disabled]="!selectedPlanillaGrupo || hayPlanillaGrupoEditando"
            pTooltip="Editar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex === null"
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-danger planilla-grupo-icon-btn"
            (click)="eliminarSeleccionado()"
            [disabled]="!selectedPlanillaGrupo || hayPlanillaGrupoEditando"
            pTooltip="Eliminar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex !== null"
            pButton
            type="button"
            icon="pi pi-check"
            class="p-button-success planilla-grupo-icon-btn"
            (click)="guardarSeleccionado()"
            pTooltip="Guardar"
            tooltipPosition="bottom">
          </button>

          <button
            *ngIf="editingRowIndex !== null"
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-danger planilla-grupo-icon-btn"
            (click)="cancelarSeleccionado()"
            pTooltip="Cancelar"
            tooltipPosition="bottom">
          </button>
        </div>
      </div>
    </div>


    <p-table
      [value]="planillasGrupo"
      [paginator]="true"
      selectionMode="single"
      [(selection)]="selectedPlanillaGrupo"
      dataKey="codigo"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} planillas"
      [globalFilterFields]="['codigo', 'descripcion', 'tipoSueldoDes', 'frecuenciaPago', 'controlAsistencia']"
      [tableStyle]="{ 'min-width': '100%' }"
      styleClass="planilla-tipo-table p-datatable-sm p-datatable-striped p-datatable-gridlines">

      <!-- Columnas -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px">Codigo</th>
          <th>Descripcion</th>
          <th style="width: 180px">TipoSueldoDes</th>
          <th style="width: 180px">Frecuencia Pago</th>
          <th style="width: 180px">Control Asistencia</th>
        </tr>
      </ng-template>

      <!-- Filas -->
      <ng-template pTemplate="body" let-planilla let-rowIndex="rowIndex">
        <tr [pSelectableRow]="planilla">
          <!-- Código -->
          <td>
            <input
              *ngIf="planilla.isEditing"
              type="text"
              pInputText
              [(ngModel)]="planilla.codigo"
              [disabled]="!planilla.isNew"
              class="table-input"
              maxlength="10" />
            <span *ngIf="!planilla.isEditing">{{ planilla.codigo }}</span>
          </td>

          <!-- Descripción -->
          <td>
            <input
              *ngIf="planilla.isEditing"
              type="text"
              pInputText
              [(ngModel)]="planilla.descripcion"
              class="table-input"
              maxlength="100" />
            <span *ngIf="!planilla.isEditing">{{ planilla.descripcion }}</span>
          </td>

          <!-- TipoSueldoDes -->
          <td>
            <p-dropdown
              *ngIf="planilla.isEditing"
              [options]="tiposSueldo"
              [(ngModel)]="planilla.tipoSueldoDes"
              appendTo="body"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione"
              [style]="{'width': '100%'}"
              styleClass="table-dropdown">
            </p-dropdown>
            <span *ngIf="!planilla.isEditing">{{ planilla.tipoSueldoDes }}</span>
          </td>

          <!-- Frecuencia Pago -->
          <td>
            <p-dropdown
              *ngIf="planilla.isEditing"
              [options]="frecuenciasPago"
              [(ngModel)]="planilla.frecuenciaPago"
              appendTo="body"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione"
              [style]="{'width': '100%'}"
              styleClass="table-dropdown">
            </p-dropdown>
            <span *ngIf="!planilla.isEditing">{{ planilla.frecuenciaPago }}</span>
          </td>

          <!-- Control Asistencia -->
          <td>
            <p-dropdown
              *ngIf="planilla.isEditing"
              [options]="controlesAsistencia"
              [(ngModel)]="planilla.controlAsistencia"
              appendTo="body"
              optionLabel="label"
              optionValue="value"
              placeholder="Seleccione"
              [style]="{'width': '100%'}"
              styleClass="table-dropdown">
            </p-dropdown>
            <span *ngIf="!planilla.isEditing">{{ planilla.controlAsistencia }}</span>
          </td>

        </tr>
      </ng-template>

      <!-- Empty message -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="text-center empty-message">
            <i class="pi pi-info-circle"></i>
            <p>No se encontraron planillas grupo</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </div>
 </p-panel>
</div>
