<div class="concepto-estandar-container">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-panel header="Concepto estándar" styleClass="shadow-xl rounded-xl mb-3">
  <p-breadcrumb [model]="items" class="max-w-full"></p-breadcrumb>
</p-panel>


  <div class="mb-2">
  <div class="shadow-xl rounded-xl surface-card px-4 py-4">

    <div class="concepto-toolbar-row">
        <div class="concepto-toolbar">
          <div class="concepto-toolbar-left">
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              label="Nuevo"
              class="p-button-sm concepto-btn"
              (click)="agregarNuevo()"
              pTooltip="Nuevo concepto"
              tooltipPosition="bottom">
            </button>

            <button
              pButton
              type="button"
              icon="pi pi-refresh"
              label="Actualizar"
              class="p-button-info p-button-sm concepto-top-btn actualizar-btn"
              (click)="refrescarTabla()"
              pTooltip="Actualizar tabla"
              tooltipPosition="bottom">
            </button>
          </div>

          <div class="concepto-toolbar-right">
            <button
              pButton
              type="button"
              icon="pi pi-eye"
              class="p-button-info concepto-icon-btn"
              (click)="verSeleccionado()"
              [disabled]="!selectedConcepto"
              pTooltip="Ver detalle"
              tooltipPosition="bottom">
            </button>

            <button
              pButton
              type="button"
              icon="pi pi-pencil"
              class="p-button-warning concepto-icon-btn"
              (click)="editarSeleccionado()"
              [disabled]="!selectedConcepto"
              pTooltip="Editar"
              tooltipPosition="bottom">
            </button>

            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger concepto-icon-btn"
              (click)="eliminarSeleccionado()"
              [disabled]="!selectedConcepto"
              pTooltip="Eliminar"
              tooltipPosition="bottom">
            </button>
          </div>
        </div>
      </div>


     <p-table [value]="conceptos" selectionMode="single" [(selection)]="selectedConcepto"
      dataKey="codigo"[paginator]="true" [rows]="15" [rowsPerPageOptions]="[10, 15, 20, 50]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} conceptos"
      [globalFilterFields]="['codigo', 'descripcion', 'conceptoTipoDesc', 'conceptoSubTipoc']"
      [tableStyle]="{ 'min-width': '100%' }" styleClass="concepto-estandar-table">

      <ng-template pTemplate="header">
        <tr>
          <th style="width: auto">Codigo</th>
          <th style="width: auto">Descripcion</th>
          <th style="width: auto">Impresion</th>
          <th style="width: auto">Activo</th>
         <th style="width: auto">Configurable</th>
          <th style="width: auto">Concepto Sunat</th>
          <th style="width: auto">ConceptoTipoDesc</th>
        <th style="width: auto">Concepto SubTipoc</th>
          <th style="width: auto">Tipo</th>
          <th style="width: auto">Ayuda Local</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-concepto>
        <tr [pSelectableRow]="concepto">
          <td>{{ concepto.codigo }}</td>
          <td>{{ concepto.descripcion }}</td>
          <td class="text-center">{{ concepto.impresion }}</td>
          <td class="text-center">{{ concepto.activo }}</td>
          <td class="text-center">{{ concepto.configurable }}</td>
          <td>{{ concepto.conceptoSunat }}</td>
          <td>{{ concepto.conceptoTipoDesc }}</td>
          <td>{{ concepto.conceptoSubTipoc }}</td>
          <td>{{ concepto.tipo }}</td>
          <td class="text-center">
            <div class="actions-cell">

            <button pButton type="button" icon="pi pi-question-circle"
              class="p-button-rounded p-button-info p-button-text p-button-sm action-btn"
              (click)="mostrarAyuda(concepto)" pTooltip="Ayuda Local" tooltipPosition="top">
            </button>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10" class="text-center empty-message">
            <i class="pi pi-info-circle"></i>
            <p>No se encontraron conceptos</p>
          </td>
        </tr>
      </ng-template>
    </p-table>



  </div>
</div>


</div>
