<p-toast></p-toast>

<p-panel header="Generar Backup Base Datos">
  <p-breadcrumb [model]="items"></p-breadcrumb>
</p-panel>

<div class="surface-card shadow-2 border-round-xl px-4 py-4 mt-3">
  <div class="grid gap-3">

    <!-- Ruta -->
    <div class="col-12 lg:col-6">
      <label class="block mb-2 font-medium">Ruta</label>

      <div class="p-inputgroup w-full">
        <input
          pInputText
          type="text"
          [(ngModel)]="ruta"
          placeholder="Seleccionar carpeta destino"
          readonly
          class="w-full"
        />
        <button
          pButton
          type="button"
          icon="pi pi-ellipsis-h"
          class="p-button-outlined"
          (click)="seleccionarCarpeta()"
          aria-label="Seleccionar ruta"
        ></button>
      </div>
    </div>

    <!-- Nombre -->
    <div class="col-12 lg:col-6">
      <label class="block mb-2 font-medium">Nombre</label>
      <input
        pInputText
        type="text"
        [(ngModel)]="nombre"
        placeholder="Ej: BckMasterpla"
        class="w-full"
      />
    </div>

  </div>

  <div class="flex justify-content-end gap-2 mt-4">
    <button 
    pButton type="button" 
    label="Limpiar" 
    class="p-button-outlined" 
    (click)="limpiar()"
    icon="pi pi-refresh">
    </button>

    <button 
    pButton type="button" 
    label="Generar Backup" 
    (click)="generarBackupMock()"
    icon="pi pi-save">
    </button>
  </div>
</div>